html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient( rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('images/hero page/7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}
.logo{
    margin-left: 60px;
    margin-top: 50px;

}
.logo img{
    height: 7vh;
}
.logo h3{
    color:rgb(18, 241, 241);
    font-size: 25px;
    margin-top: -35px;

    margin-left: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: thick;
    padding: 0px 20px;
    color: hsl(20, 17%, 90%);
}
.nav ul li a:hover{
    color: teal;
    font-weight: bolder;
}
.heropage{
    position: absolute;
    color:white;
   margin-top: 100px;
   margin-left: 100px;
}
.inside-heropage{
    line-height:2;
}
.inside-heropage h1{
    font-size: 40px;
}
.inside-heropage p{
    font-size: 17px;
}
span{
    color: teal;
    font-weight: bold;

}

.poster{
    margin-top: 130px;
    margin-right: 150px;
}
.poster img{
    height:320px;
    float: right;
    border-radius: 10px;
}